<!DOCTYPE html>
<html>
<head>
    <title>stoCAS - Team Production Server</title>
    <style>
        body {
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f5f5f5;
            color: #333;
        }
        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
        }
        .service {
            margin: 20px 0;
            padding: 10px;
            border: 1px solid #ddd;
            border-radius: 5px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0,0,0,0.1);
        }
        .service img {
            width: 50px;
            height: 50px;
        }
        .service a {
            text-decoration: none;
            color: #333;
            transition: color 0.3s ease;
        }
        .service a:hover {
            color: #007BFF;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to stoCAS - Our Team Production Server</h1>
        <div class="service">
            <img src="https://about.gitlab.com/images/press/logo/png/gitlab-icon-rgb.png" alt="GitLab">
            <a href="${LINK_GITLAB}">GitLab</a>
        </div>
        <div class="service">
            <img src="https://picsum.photos/50/11" alt="Grafana">
            <a href="${LINK_GRAFANA}">Grafana</a>
        </div>
        <div class="service">
            <img src="https://www.jenkins.io/images/logos/jenkins/jenkins.svg" alt="Jenkins">
            <a href="${LINK_JENKINS}">Jenkins</a>
        </div>
        <div class="service">
            <img src="https://picsum.photos/50/3" alt="Logger">
            <a href="${LINK_LOGGER}">Logger</a>
        </div>
        <div class="service">
            <img src="https://picsum.photos/50/5" alt="Logger">
            <a href="${LINK_MATTERMOST}">Mattermost</a>
        </div>
        <div class="service">
            <img src="https://picsum.photos/50/13" alt="Prometheus">
            <a href="${LINK_PROMETHEUS}">Prometheus</a>
        </div>
        <div class="service">
            <img src="https://picsum.photos/50/2" alt="SonarQube">
            <a href="${LINK_SONARQUBE}">SonarQube</a>
        </div>
        <div class="service">
            <img src="https://picsum.photos/50/1" alt="Taiga">
            <a href="${LINK_TAIGA}">Taiga</a>
        </div>
        <div class="service">
            <img src="https://picsum.photos/50/4" alt="Our Website">
            <a href="${LINK_WEBSITE}">Our Website</a>
        </div>
        <div class="service">
            <p>This site is made possible thanks to <a href="https://freedns.afraid.org/">Free DNS</a>. Free DNS offers free DNS hosting and domain services and helps us keep our site accessible to everyone. We appreciate their support!</p>
        </div>
        <p>This site was made by an AI - GitHub Copilot.</p>
    </div>
</body>
</html>