#mattermost
CREDENTIALS_MATTERMOST_POSTGRES_USER=user
CREDENTIALS_MATTERMOST_POSTGRES_PASSWORD=password

#sonarqube
CREDENTIALS_SONAR_JDBC_USERNAME=user
CREDENTIALS_SONAR_JDBC_PASSWORD=password

#taiga
CREDENTIALS_TAIGA_SECRET_KEY="taiga-secret-key"

CREDENTIALS_TAIGA_POSTGRES_USER=user
CREDENTIALS_TAIGA_POSTGRES_PASSWORD=password

CREDENTIALS_TAIGA_EMAIL_HOST_USER=user
CREDENTIALS_TAIGA_EMAIL_HOST_PASSWORD=password

CREDENTIALS_TAIGA_RABBITMQ_USER=user
CREDENTIALS_TAIGA_RABBITMQ_PASS=password