GF_INSTALL_PLUGINS=grafana-clock-panel

# server
GF_SERVER_DOMAIN=http://stocas.${DOMAIN}
GF_SERVER_ROOT_URL=${GF_SERVER_DOMAIN}/grafana
GF_SERVER_SERVE_FROM_SUB_PATH=true

# users
GF_USERS_DEFAULT_THEME=dark

# auth
## gitlab
#GF_AUTH_GITLAB_ENABLED=true
#GF_AUTH_GITLAB_CLIENT_ID=
#GF_AUTH_GITLAB_CLIENT_SECRET=
#GF_AUTH_GITLAB_AUTH_URL=http://gitlab.${DOMAIN}/oauth/authorize
#GF_AUTH_GITLAB_TOKEN_URL=http://gitlab.${DOMAIN}/oauth/token
#GF_AUTH_GITLAB_AUTH_API_URL=http://gitlab.${DOMAIN}/api/v4
#GF_AUTH_GITLAB_ALLOW_SIGN_UP=true