
# ports for http communication proxy-containers

DOMAIN=${DOMAIN}

DASHBOARD_PORT=${DASHBOARD_PORT}
GITLAB_PORT=${GITLAB_PORT}
JENKINS_PORT=${JENKINS_PORT}
LOGGER_PORT=${LOGGER_PORT}
MATTERMOST_PORT=${MATTERMOST_PORT}
SONARQUBE_PORT=${SONARQUBE_PORT}
TAIGA_BACK_PORT=${TAIGA_BACK_PORT}
TAIGA_EVENTS_PORT=${TAIGA_EVENTS_PORT}
TAIGA_FRONT_PORT=${TAIGA_FRONT_PORT}
TAIGA_PROTECTED_PORT=${TAIGA_PROTECTED_PORT}